.my-col-header{ 
 color: #D7863E;
}

.sort-by { 
	padding-right: 18px;
	position: relative;
}
.sort-by-asc:before,
.sort-by-dsc:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}

.sort-by-asc:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
.sort-by-dsc:after {
	border-top-color: #666;
	margin-top: 1px;
}
